body{
    background-color: cornsilk;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
}

.heading{
    text-align: center;
}

.calc-bg{
    max-width: 400px;
    /* width: 700px;
    height: 500px; */
    background-color: #151515;
    margin: auto;
    border-radius: 20px;
    padding: 20px 20px 10px 20px;
}

.input-area{
    background-color: #d9d9d9;
    border-radius: 20px;
    /* fon */
    padding: 10px 20px 10px 20px;
    text-align: right;
}

input{
    border: none;
    background-color: transparent;
    font-size: 28px;
    text-align: right;
}

.button-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    margin-top: 20px;
    margin-bottom: 20px;
    row-gap: 20px;
}

.button-area button{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    justify-self: center;
    background-color: #6d86a6;
}

/* .operation1{
    background-color: yellow;
} */

.button-area .operation1{
    background-color: #e39764;
    /* #171717 */
}

.button-area .operation2{
    background-color: #6fa8f2;
}

button:hover{
    /* overlay; */
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
    opacity: 0.8;
}